<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="customer" class= "com.sathya.assignment1.Customer">
        <constructor-arg  index="0" value="prasanna"></constructor-arg>
        <constructor-arg  index="1" value="kumar"></constructor-arg>
        <constructor-arg  index="2" value="prasannakumar@gmail.com"></constructor-arg>
        <constructor-arg  index="3" value="7032528245"></constructor-arg>
		
	</bean>

	
	
	
	<bean id="product" class="com.sathya.assignment1.Product">
		<property name="productId" value = "1"/>
		<property name="productName" value = "laptop"/>
		<property name="productCost" value = "60000"/>
		<property name="productQuantity" value = "1"/>
	</bean>

 </beans>